package {{package}};

{{#imports}}import {{import}};
{{/imports}}
{{#serializableModel}}
import java.io.Serializable;
{{/serializableModel}}
{{#useBeanValidation}}
import javax.validation.constraints.*;
import javax.validation.Valid;
{{/useBeanValidation}}

import com.fasterxml.jackson.annotation.JsonCreator;
import com.fasterxml.jackson.annotation.JsonValue;

{{#models}}
{{#model}}{{#description}}
/**
 * {{description}}
 **/{{/description}}
{{#is this 'enum'}}
{{>enumOuterClass}}
{{/is}}
{{#isNot this 'enum'}}{{>pojo}}{{/isNot}}
{{/model}}
{{/models}}
